


/* Table of contents
    1. VARIABLES AND LINKS
    2. GENERAL STRUCTURE 
        2.1 DESCRIPTION
        2.2 STARS
        2.3 REVIEW
    3. MAIN
        4.1 DESCRIPTION
        4.2 STARS
        4.3 REVIEW
    4. PSEUDO
    5. MEDIA QUERIES
        5.1 DESCRIPTION
        5.2 STARS
        5.3 REVIEW
*/


/* ==========
    1. VARIABLES AND LINKS
========== */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --color-background-light-pink: hsla(300, 25%, 88%, 0.603);
    --color-fonts-white: hsl(0, 0%, 100%);
    --color-fonts-grey: hsl(303, 10%, 53%);
    --color-fonts-pink: hsl(333, 80%, 67%);
    --color-various-purple: hsl(300, 43%, 22%);
}



/* ==========
    2. GENERAL STRUCTURE
========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    font-family: 'League Spartan', sans-serif;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* DESCRIPTION */
h1 {
    color: var(--color-various-purple);
    font-size: 2rem;
    font-weight: 700;
}
#description p {
    color: var(--color-fonts-grey);
    font-weight: 500;
    line-height: 22px;
}

/* STARS */
.stars-section {
    background-color: var(--color-background-light-pink);
}
#stars-section h3 {
    color: var(--color-various-purple);
}
.fa-star {
    color: orange;
}

/* REVIEW */
#review {
    background-color: var(--color-various-purple);
}
#review h3 {
    color: var(--color-fonts-white);
    font-weight: 700;
}
#review h4 {
    color: var(--color-fonts-pink);
    font-weight: 400;
}
#review p {
    color: var(--color-fonts-white);
    line-height: 22px;
}


/* ==========
    3. MAIN
========== */

/* 
    3.1 DESCRIPTION
*/
#description {
    text-align: center;
}
h1 {
    margin: 15px 50px;
}
#description p {
    margin: 0px 30px;
}

/* 
    3.2 STARS
*/
#stars-section {
    margin-top: 35px;
    text-align: center;
}
.stars-section {
    border-radius: 7px;
    margin: 20px;
    padding: 10px 0px;
}
.stars-section h3 {
    margin-bottom: 10px;
}
.fa-star {
    padding: 10px 3px;
}

/* 
    3.3 REVIEW
*/
#review-section {
    margin-top: 60px;
}
#review {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    padding: 30px;
}
#review img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.image-name {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.name {
    padding-left: 20px;
}
.name h3 {
    margin-bottom: 5px;
}

/* ==========
    4. PSEUDO
========== */





/* ==========
    5. MEDIA QUERIES
========== */
@media (min-width: 800px) {
    body {
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-position: left top, right bottom;
        background-repeat: no-repeat;
    }
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 70px;
    }

    /* 
    5.1 DESCRIPTION
    */
    #description {
        text-align: left;
    }
    h1 {
        font-size: 3rem;
        margin-left: 30px;
        max-width: 310px;
    }
    #description p {
        max-width: 390px;
    }

    /* 
    5.2 STARS
    */
    .stars-section {
        max-width: 432px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .fa-star, .stars-section h3 {
        display: inline-block;
    }
    .stars-section h3 {
        margin-left: 15px;
        min-width: 238px;
    }
    .second-stars {
        margin-left: 50px;
    }
    .third-stars {
        margin-left: 0px;
    }




    /* 
    5.2 REVIEW
    */
    #review-section {
        grid-column: 1/3;
    }


}